<div class="row justify-content-center no-gutters">
  <div class="col-md-6">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <h3 class="text-dark">{{heading | uppercase }}</h3>

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner py-5" >
        <div class="carousel-item" [ngClass]="i===0? 'active':''"  *ngFor="let story of stories; index as i">
          <img src="https://source.unsplash.com/900x300/?{{story.place}}" alt="{{story.place}}" width="900" height="300">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{story.place}}</h5>
            <p>{{story.description}}</p>
          </div>
        </div>

      </div>


      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>