/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* FontAwesome for working BootSnippet :> */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
  font-family: 'Ubuntu', sans-serif;
}

.material-box{
  border-radius: 10px;
  box-shadow: 10px 10px 15px -4px rgb(172, 172, 172);
}

.highlight-black{
  color: white !important;
  background: black !important;
  padding: 1px !important;
}

.heading1{
  margin: 15px;
  font-weight: bolder;
  font-size: larger;
}

.post-place{
  margin: 10px;
  background: black;
  color: #f8f9fa;
  font-weight: bolder;
  padding-left: 14px;
  padding-right: 11px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 1px #a2a2a2;
}