/* .main-card, .card {
  border-radius: 0em;
  border: 1px solid #0000003b !important;
  box-shadow: 0.3px 2px 5px #0000008d;
} */

.quote-box{
  padding: 20px;
  background-color: black;
  color: white;
  box-shadow: 4px 4px 10px 1px #535353;
}