<div class="text-center my-5">
  <div class="row justify-content-center no-gutters">
    <div class="col-10">
      <div *ngIf="latestPost !== undefined">
        <img class="img-fluid material-box" src="https://source.unsplash.com/900x400/?{{latestPost.place}}"
          alt="{{latestPost.place}}" width="900" height="400">
        <h1 class="mt-4">{{latestPost.title}}</h1>
        <p><span class="post-place">{{latestPost.place}} ({{latestPost.date}}) </span>
          {{latestPost.description}}</p>

      </div>
    </div>
  </div>

  <div class="row justify-content-center no-gutters">

    <div class="col-10">
      <hr>
    </div>

    <div class="col-10 quote-box">
      <h1 class="text-black">Embrace the Journey </h1>
      <blockquote class="blockquote text-center">
        <p class="mb-0">
          The key to realizing a dream is to focus not on success but significance, and then even the small steps and
          little victories along your path will take on greater meaning.</p>
        <footer class="blockquote-footer">Oprah Winfrey
          <cite title="Source Title">goalcast.com</cite></footer>
      </blockquote>
    </div>
  </div>
</div>