<section class="text-center">
  <div class="row justify-content-center no-gutters">
    <div class="col-md-12">
      <app-carousel class="m-5"></app-carousel>
    </div>
    <div class="col-md-8">
      <h1 class="text-black">Embrace the Journey </h1>
      <blockquote class="blockquote text-center">
        <p class="mb-0">
          The key to realizing a dream is to focus not on success but significance, and then even the small steps and
          little victories along your path will take on greater meaning.</p>
        <footer class="blockquote-footer">Oprah Winfrey
          <cite title="Source Title">goalcast.com</cite></footer>
      </blockquote>
      <!-- <div class="">
        <button class="btn btn-primary m-1">JOIN US</button>
        <button class="btn btn-secondary m-1">Button</button>
      </div> -->
    </div>
  </div>
</section>